<%- include('header') -%>
<style>
   .sketch {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
}

body {
    background-color: black;
}
     </style>
<body>
	<div class="sketchfab-embed-wrapper sketch">
    <iframe title="FirebirdCeramics-Virtual" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="600" height="480" src="https://sketchfab.com/models/ff49a68cfad2442cab15569a892da139/embed">
    </iframe>
</div>
</body>
<%- include('footer') -%>