<%- include('header') -%>
<style>
	body {
  background-image: url("/images/secret-bg.png");
  background-color: black;
  color:cornsilk;
  font-size: 1.2rem;
  margin-left: 50px;
}
</style>
<body>
 <h2>It's a secret!</h2>
 <div class="main"><p>Over at <a href="https://www.youtube.com/channel/UC-zIB-iVvq127nxK92byhdQ">J&R Vlogs</a>, some of the videos have a link in the description that goes to secret.orcwood.com/...  
 I assume that is why you are here.  When you see that link, that means there is a codeword (or phrase or riddle that leads to a secret word or phrase) hidden in the 
 video, one that you will typically have to decipher or puzzle out.  Follow the link, enter the word (or phrase), 
 and you will be directed somewhere else.  Maybe to something quirky, maybe to a bit of extra information 
 about the video's topic, maybe to an additional puzzle.</p>
 <p>Why do it, you might ask?  For fun.  No more, no less.</p>
 <hr>
 <p><strong>Why are the secret codewords even there?</strong><br>
 At around Week 2 of our vlog project, a friend of Ross watched the video and then asked, "What's the secret code?"  It turns out that during 
 the whole video, the friend was trying to figure out the puzzle of the random letters hung on the wall behind Ross.  
 The "secret code" in this case was that Ross's small children had colored pages of those letters and they had been 
 proudly hung on the wall.  Jenny, upon hearing this, exclaimed, "We need to have secret messages in the background of the 
 videos!  (Jenny is really into this sort of thing.) So this became just a fun extra to Ross and Jenny's videos.</p>
 <p><strong>Any rules?</strong><br>
 Don't post the answers (the secret word or where you end up) in the comments of the videos.  Keep it fun for anyone who might want to play.
 </p>
 </div>
</body>
<%- include('footer') -%>