<%- include('header') -%>
<style>
   body {
   
       background-color: #001e00;
       color:white;
       font-size: 1.2rem;
       margin-left: 50px;
   }
   
   .main {
   font-family: 'Roboto', sans-serif;
   max-width: 650px;
   line-height: 140%;
   background: rgba(0, 10, 0, 0.5);
   }
   
   a:link {
     color: #00bff3;
   }
   a:visited {
     color: #fdfaec;
   }
   a:hover {
     color: red;
   }
   a:active {
     color: blue;
   }
   
   hr {
     border: 1px dashed #fdfaec;
     width: 50%;
   }
   
   .reveal {
    font-family: 'Roboto', sans-serif;
   max-width: 650px;
   margin: 0 auto;
   line-height: 140%;
   }
   
   img {
       max-width:100%;
   }
   
   figcaption {
       font-size: 1rem;
   }
   
     </style>
<body>
 <h2>Week 4J</h2>
 <div class="reveal"><p style="font-size:1.4rem"><strong>You</strong> are the coolest person in the science club!  Congratulations!</p>
 <figure><img src="/images/Reveal_1.jpg">
    <figcaption>Tom Bryson at North Elementary School's Career Day, 1985 (pre-Ross).</figcaption>
    </figure>
 <figure><img src="/images/Reveal_2.jpg">
    <figcaption>Dad gave every single person who came through that day a loblolly super-pine seedling.</figcaption>
    </figure>
 <p>Dad absolutely LOVED Career Day and was always game to talk about forestry (and that one time, geology).</p>
 </div>
</body>
<%- include('footer') -%>